body {
    box-sizing: border-box;
    
}



.container {
    padding: 0 1%;
    
}


.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 6rem;
   background-color: lightgray;
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;   
   top: 0;
   right: 0;
   box-shadow: 0 2px 6px 3px;
   border-radius: 10px;
   
}

.fragebox {
    border: solid;
    display: flex;
    flex-direction: column;
    height: 200px;
    
}

.question {
    display: flex;
    justify-content: center;
}


.button {
        display: flex;
        width: 12%;
        align-self: center;
    }

    .tags {
        /* align-items: flex-start; */

        
    }

    li {
        
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: lightgray;
    }