





body {
    box-sizing: border-box;
    position: relative;
    width:400px;
    border: solid;  
    
    }





.header-class {
    
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    border-bottom: solid; 
    background-color: grey;  
    
}


.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fragebox {
    border: solid;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    align-items: center; 
    
    margin: 20px;
    
    
    
}

.question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    
        
    }


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
    padding: 10px 30px;
    box-shadow: 0 2px 4px 1px;
    font-size: 15px;     
    }

    .tags {
           
       display: flex;
       
             


    }
    

    li {
        
        border: 1px solid black; 
        border-radius: 5px;
        background-color: lightgray; 
        
        margin: 5px;
        padding: 5px 10px;
        list-style-type: none;
        
    }



    .fragebox2 {
        border: solid;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-between;
        align-items: center; 
        
        margin: 20px;
        
        
        
    }
    
    .question2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        
            
        }
    
    
    .button2 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto; 
        padding: 10px 30px;
        box-shadow: 0 2px 4px 1px;
        font-size: 15px;     
        }
    
        .tags2 {
               
           display: flex;
           
                 
    
    
        }

        footer {
            position: fixed;
    bottom: 0;
    
    background-color: grey; 
    
    width: 394px;
    border-bottom: solid;
    
        }


        .navbar {
            display: flex;
    justify-content: space-around; /* Platzierung der Nav-Elemente anpassen */
    padding: 10px; /* Innenabstand der Navbar anpassen */
            
        }